.leaflet-container {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

.leaflet-popup-content.leaflet-popup-content {
  width: 240px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  position: relative;
  display: flex;
  background: #e4e4e4;
  padding: 0 1.5em 0;
  font-size: 1.15em;
  overflow: initial !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  color: #b8b7ad;
  padding: 0;
  height: auto !important;
  width: 100%;
  text-align: center;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #373a47;
  &:focus {
    outline: none;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.leaflet-container a.leaflet-popup-close-button {
  font-size: 24px;
  right: 3px;
}

.googleBtn {
  display: flex;
  align-items: center;
  margin: 0 auto 15px;

  img {
    width: 25px;
    margin-right: 5px;
  }
}

.title-big {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px;
}
